@font-face{
    font-family:Outfit;
    font-style:normal;
    font-weight:300;
    font-display:swap;
    src:url(./fonts/Outfit-Light.ttf)format('truetype');
}

@font-face{
    font-family:Outfit;
    font-style:normal;
    font-weight:400;
    font-display:swap;
    src:url(./fonts/Outfit-Regular.ttf)format('truetype');
}

@font-face{
    font-family:Outfit;
    font-style:normal;
    font-weight:600;
    font-display:swap;
    src:url(./fonts/Outfit-SemiBold.ttf)format('truetype');
}

:root{
    --clr-soft-blue: hsl(215, 51%, 70%);
    --clr-cyan: hsl(178, 100%, 50%);
    /* bg-color  */
    --clr-very-dark-blue-1:hsl(217, 54%, 11%);
    /* card-bg */
    --clr-very-dark-blue-2:hsl(216, 50%, 16%);
    /* line */
    --clr-very-dark-blue-3:hsl(215, 32%, 27%);
    --clr-white:hsl(0, 0%, 100%);
    --clr-white-hsl:0, 0%, 100%;
}


*, *::before, *::after {
    box-sizing: border-box;
  }

  *{
    margin:0;
    padding:0;
  }

  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }

  img {
    display: block;
    max-width: 100%;
  }

  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

  #root, #__next {
    isolation: isolate;
  }

  body{
    position:relative;
    min-height:100vh;
    display:grid;
    place-content:center;
    font-family:Outfit, sans-serif;
    background-color:var(--clr-very-dark-blue-1);
  }


  .panel{
      --panel-border-radius:0.935rem;
      max-width:350px;
      background-color:var(--clr-very-dark-blue-2);
      padding:1.5rem;
      border-radius:var(--panel-border-radius);
      display:grid;
      grid-template-columns: 1fr;
      gap:1rem;
  }

  .frame{
    position:relative;
    --frame-border-radius:calc(var(--panel-border-radius)/2);
  }

 .head-img{
     border-radius:var(--frame-border-radius);
  } 

  .overlay{
      position:absolute;
      opacity:0;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height:100%;
      width:100%;
      transition: .3s ease;
      background-color:var(--clr-cyan);
      border-radius:var(--frame-border-radius);
      cursor:pointer; 
  }

  .icon{
      background-image:url("images/icon-view.svg");
      position:absolute;
      left:50%;
      top:50%;
      transform:translate(-50%, -50%);
      -ms-transform:translate(-50%, -50%);
      /* color:var(--clr-white); */
      transition: .3s ease;
      opacity:0;
  }

  .frame:hover .overlay{
    opacity:0.5;
  }

  .frame:hover .icon{
     opacity:1;
  }
  
  .title{
    color:var(--clr-white);  
    font-size:22px;
    font-weight:600;
    padding-top:0.4rem;
  }

  .title:where(:hover, :focus){
     color:var(--clr-cyan);
     cursor:pointer;
  }

  .description{
    font-size:18px;
    font-weight:300;
    color:var(--clr-soft-blue);
  }

  .details{
     display:grid;
     grid-template-columns:repeat(2, 1fr);
     padding-bottom:0.5rem;
  }
  
  .even-columns{
    display:grid;
    grid-template-columns:auto 1fr;
    align-items:center;
    font-weight:400;
  }

  .even-columns:nth-of-type(2){
    justify-self:end; /* place-self:end; <-- does the same */ 
  }

  .even-columns:nth-of-type(1) p{
    color:var(--clr-cyan);
  }

  .even-columns:nth-of-type(2) p{
    color:var(--clr-soft-blue);
   }

  img {
    margin-right:0.5rem;
  }
  
  .line{ 
    border-bottom:1px solid var(--clr-soft-blue);
    opacity:0.3;
  }

  .author{
     display:grid;
     grid-template-columns:auto 1fr;
     align-items:center;
     color:var(--clr-soft-blue);
     font-weight:300;
     font-size:16px;
  }

  .author img{
     width:35px;
     aspect-ratio:1;
     border-radius:50%;
     border:1px solid hsla(var(--clr-white-hsl), 0.6);
     margin-right:1rem;
  }

  .author span{
    color:hsl(var(--clr-white));
  }

  .author span:is(:hover, :focus){
      color:var(--clr-cyan);
      cursor:pointer;
  }

  footer{
    position:absolute;
    left:50%;
    transform:translateX(-50%);
    bottom:3%;
    font-size:0.625rem;
    text-align:center;
  }
  
  footer, footer a{
    color:var(--clr-white);
  }
  





  